
.progress-bar{
    width: 300px;
    height: 30px;
    background-color: aqua;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.progress-bar-fill{
    position: absolute;
    width: 300px;
    height: 60px;
    background-color: red;
    /* do not animate width property */
    transition :transform ease-in 500ms
    }